<link href="css/backgroundAnimation.css" rel="stylesheet">



<div class="container has-text-centered">

    <div class="column is-half is-offset-one-quarter">
        <div class="box">
            <h1 class="title">Hobbity</h1>
            <h2 class="subtitle">Take hobbying to the next level!</h2>
                  <br>  
                  
                <div class="slideshow"> 

                    <img src="static/main.png" alt="Main">
                    <p>Track your activities in an easy to use interface</p>
                    <br>

                    <img src="static/calendar.png" alt="Calendar">
                    <p>See your progress on our calendar view</p>
                    <br>
                        
                    <img src="static/track.png" alt="Calendar">
                    <p>Focus on what matters to you</p>
                    <br>

                </div> 

                <br>
            
            <a class="button is-primary" href="/create_ac">Sign up</a>
            <a class="button is-light" href="/login">Log in</a>
        </div>
    </div>
</div>

