<script>
  $("div.hero-body.is-main").addClass("has-gradient")
</script>
<div class="container has-text-centered">
<div class="notification is-info is-light">
    <div class="level">
        <p class="has-text-dark level-right">Don't have an account?</p>
    <a href="/create_ac" class="button is-primary level-left">Sign Up</a>
    </div>  
</div>

<div class="columns is-mobile is-centered">
  <div class="column is-half">
      <div class="box">
        {{#if flash}}
        <div class="notification is-danger">
          {{flash}}
        </div>
        {{/if}}
        <h1 class="title is-3">Log in to your account...</h1>
            <form action="/auth" method="POST">
              <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" type="text" placeholder="Username" name="username" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </div>
              </div>
              
              <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password" name="password" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-success has-text-dark" type="submit">Login</button>
                </div>
                <div class="control">
                  <button class="button is-warning" type="reset">Cancel</button>
                </div>
              </div>
            </form>
        </div>
      </div>  
</div>
</div>
    