@-webkit-keyframes loops{
  0%{
    background-image: url('background_photos/2.jpg');
  }
  15% {
    background-image: url('background_photos/3.jpg');
  }
  30%{
    background-image: url('background_photos/4.jpg');
  }
  45%{
    background-image: url('background_photos/5.jpg');
  }
  60%{
    background-image: url('background_photos/6.jpg');
  }
  75%{
    background-image: url('background_photos/7.jpg');
  }
  100%{
    background-image: url('background_photos/8.jpg');
  }
}

.hero-body.is-main{      
  background-image: url('background_photos/2.jpg');
  margin: auto 0px;
  -webkit-animation-name: loops;
  -webkit-animation-duration: 35s;
  -webkit-animation-delay: 1s;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-size: cover;
  
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

.box{
  background-color: rgba(255, 255, 255, 0.90);
}

.image-holder{
  top: 5rem;
  flex-grow: 1;
  flex-shrink: 0;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 5rem);
  z-index: -1;
  background-image: url('background_photos/2.jpg');
  margin: auto 0px;
  -webkit-animation-name: loops;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  background-repeat: no-repeat;
  background-size: cover;
  
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}