@-webkit-keyframes loops{
    0%{
      background-image: url('static/2.jpg');
    }
    15% {
      background-image: url('static/3.jpg');
    }
    30%{
      background-image: url('static/4.jpg');
    }
    45%{
      background-image: url('static/5.jpg');
    }
    60%{
      background-image: url('static/6.jpg');
    }
    75%{
      background-image: url('static/7.jpg');
    }
    100%{
      background-image: url('static/8.jpg');
    }
  }

  body #signUpBG{      
        background-image: url('static/2.jpg');
        margin: auto 0px;
        -webkit-animation-name: loops;
        -webkit-animation-duration: 35s;
        -webkit-animation-direction: alternate;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        background-repeat: no-repeat;
        background-size: cover;  
  }